<section class="mx-10">
  <h1 class="text-center font-semibold py-8 text-xl lg:text-3xl uppercase">
    Best Sellers
  </h1>
  <div class="flex flex-wrap justify-center gap-8">
    <!-- multiple divs -->
    <div class="w-fit border">
      <a href="/product/1234567">
        <div class="bg-black p-5 h-96">
          <img
            class="w-60 drop-shadow-[5px_5px_rgb(45,212,191)]"
            src="https://res.cloudinary.com/dyc3koszi/image/upload/v1670492181/product_images/ohrvvfg3riqxajvzsq3o.webp"
            alt=""
          />
          <h2 class="text-white mt-5 w-60">
            Stay Focussed Sticker Focussed Sticker
          </h2>
          <div class="flex items-center gap-3 mt-3">
            <span class="text-white text-2xl font-semibold">&#8377;29.00</span
            ><span class="text-turquoise text-xs">IN STOCK</span>
          </div>
        </div>
      </a>
      <!--  -->
      <div class="pt-5 pb-3 px-5 bg-white">
        <form action="/buy-now" method="post">
          <div>
            <button
              class="uppercase w-full py-2 bg-turquoise text-black font-semibold"
              type="submit"
            >
              Buy now
            </button>
          </div>
        </form>
        <div class="flex items-center justify-between gap-5 mt-3">
          <form action="/add-to-cart" method="post" class="w-full">
            <div class="w-full">
              <button
                class="uppercase w-full py-2 border text-black font-semibold"
                type="submit"
              >
                add to cart
              </button>
            </div>
          </form>
          <form action="/add-to-wishlist" method="post">
            <button type="submit">
              <i class="bi bi-heart text-2xl text-black"></i>
            </button>
          </form>
        </div>
        <small class="text-darkGray block mt-2 text-center"
          >Free shipping all over India.</small
        >
      </div>
    </div>
    <!-- end multiple divs -->
  </div>
</section>

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<section class="mx-10">
  <h1 class="text-center font-semibold py-8 text-xl lg:text-3xl uppercase">
    NEW ARRIVALS
  </h1>
  <div class="flex flex-wrap justify-center gap-8">
    <!-- multiple divs -->
    <div class="w-fit border">
      <div class="bg-black p-5 h-96">
        <img
          class="w-60 drop-shadow-[5px_5px_rgb(45,212,191)]"
          src="https://res.cloudinary.com/dyc3koszi/image/upload/v1670492181/product_images/ohrvvfg3riqxajvzsq3o.webp"
          alt=""
        />
        <h2 class="text-white mt-5 w-60">
          Stay Focussed Sticker Focussed Sticker
        </h2>
        <div class="flex items-center gap-3 mt-3">
          <span class="text-white text-2xl font-semibold">&#8377;29.00</span
          ><span class="text-turquoise text-xs">IN STOCK</span>
        </div>
      </div>
      <!--  -->
      <div class="pt-5 pb-3 px-5 bg-white">
        <form action="/buy-now" method="post">
          <div>
            <button
              class="uppercase w-full py-2 bg-turquoise text-black font-semibold"
              type="submit"
            >
              Buy now
            </button>
          </div>
        </form>
        <div class="flex items-center justify-between gap-5 mt-3">
          <form action="/add-to-cart" method="post" class="w-full">
            <div class="w-full">
              <button
                class="uppercase w-full py-2 border text-black font-semibold"
                type="submit"
              >
                add to cart
              </button>
            </div>
          </form>
          <form action="/add-to-wishlist" method="post">
            <button type="submit">
              <i class="bi bi-heart text-2xl text-black"></i>
            </button>
          </form>
        </div>
        <small class="text-darkGray block mt-2 text-center"
          >Free shipping all over India.</small
        >
      </div>
    </div>
    <!-- end multiple divs -->
  </div>
</section>
