<header id="header" class="bg-white flex items-center justify-end gap-2 py-3 pr-5">
  <div>
    <img
      src="https://res.cloudinary.com/dyc3koszi/image/upload/c_scale,h_100,r_100/v1672030021/logos/2021-dp_yizc7e.webp  "
      alt=""
      class="w-10 mr-3"
      style="width: 2.3rem;"
    />
  </div>
</header>
