<header class="bg-white flex items-center justify-end gap-2 py-3 pr-5">
  <div>
    <img src="/images/favicons/apple-touch-icon.png" alt="" class="w-6" />
  </div>
  <div>
    <img src="/images/favicons/apple-touch-icon.png" alt="" class="w-10" />
  </div>
</header>
