<div class="flex flex-col bg-white rounded-lg justify-between border mt-5">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-x-auto">
        <table class="min-w-full">
          <thead class="bg-lightGray border-b">
            <tr>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-left"
              >
                ORDER ID
              </th>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-left"
              >
                ORDER DATE
              </th>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-left"
              >
                SHIPPING ADDRESS
              </th>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-left"
              >
                PHONE
              </th>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-center"
              >
                ORDER AMOUNT
              </th>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-center"
              >
                STATUS
              </th>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-center"
              >
                INVOICE
              </th>
            </tr>
          </thead>
          <tbody>
            <a href="#">
              <tr class="border-b">
                <td class="text-sm text-darkGray px-6 py-4 whitespace-nowrap">
                  000-45-234
                </td>
                <td class="text-sm text-darkGray px-6 py-4 whitespace-nowrap">
                  Nov 23, 2022
                </td>
                <td class="text-sm text-darkGray px-6 py-4">
                  Barguna, House: 153 Village: Ozoddha, Post: khalpatua
                </td>
                <td class="text-sm text-darkGray px-6 py-4 whitespace-nowrap">
                  9747816722
                </td>
                <td
                  class="text-sm flex flex-col text-darkGray px-6 py-4 whitespace-nowrap text-center"
                >
                  <div class="font-semibold">&#8377;29.00</div>
                  <div>Razorpay</div>
                </td>
                <td class="text-xs px-6 py-4 whitespace-nowrap text-center">
                  <span
                    class="text-xs text-darkRed bg-lightRed py-2 px-3 rounded-lg"
                    >CANCELLED</span
                  >
                </td>
                <td class="text-sm text-turquoise px-6 py-4 whitespace-nowrap">
                  <a href="/admin/invoice/1234567890" class="hover:underline">
                    Invoice <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </td>
              </tr>
            </a>
          </tbody>
        </table>
        <%- include("../pagination") %>
      </div>
    </div>
  </div>
</div>
