<div class="flex justify-between items-center">
  <div class="flex gap-3 items-center">
    <div class="font-semibold">STATUS:</div>
    <form action="">
      <select
        id="orderStatus"
        class="bg-lightYellow text-darkYellow text-xs rounded-lg py-2 px-3"
      >
        <option class="bg-white text-black text-sm" selected value="pending">
          Pending
        </option>
        <option class="bg-white text-black text-sm" value="processing">
          Processing
        </option>
        <option class="bg-white text-black text-sm" value="shipped">
          Shipped
        </option>
        <option class="bg-white text-black text-sm" value="delivered">
          Delivered
        </option>
        <option class="bg-white text-black text-sm" value="cancelled">
          Cancelled
        </option>
      </select>
    </form>
    <!-- <div class="text-xs text-darkYellow bg-lightYellow py-2 px-5 rounded-md">
      Pending
    </div> -->
  </div>
  <div class="font-semibold">Order #<%= orderId %></div>
</div>
<!--  -->
<div class="mt-20 flex justify-between">
  <div>
    <div class="font-semibold uppercase">DATE</div>
    <div class="text-sm mt-2">November 25, 2022</div>
  </div>
  <div class="w-1/3">
    <div class="font-semibold uppercase">ADDRESS</div>
    <div class="text-sm mt-2">
      TC 35/900, Muqthar Manzil, Puthenroad Jn, Vallakkadavu PO,
      Thiruvananthapuram, Kerala <br />
      Pin: 695008
    </div>
  </div>
  <div>
    <div class="font-semibold uppercase">PHONE</div>
    <div class="text-sm mt-2">
      9747816722 <br />
      7736633122
    </div>
  </div>
</div>
