<div class="mt-10 flex justify-between">
  <div>
    <div class="font-semibold uppercase">PAYMENT METHOD</div>
    <div class="text-sm mt-2">Razorpay</div>
  </div>
  <div>
    <div class="font-semibold uppercase">SHIPPING COST</div>
    <div class="text-sm mt-2">Free</div>
  </div>
  <div>
    <div class="font-semibold uppercase">DISCOUNT</div>
    <div class="text-sm font-semibold mt-2">-&#8377;29.00</div>
  </div>
  <div>
    <div class="font-semibold uppercase">TOTAL AMOUNT</div>
    <div class="text-2xl text-turquoise font-bold mt-2">&#8377;116.00</div>
  </div>
</div>
