<div>
  <form action="/login" method="post">
    <div class="lg:flex gap-20">
      <div class="my-10 lg:my-0 w-20 h-20 bg-turquoise rounded-full mx-auto">
        <!-- <input type="file" name="profile" id="profile" class="" /> -->
      </div>
      <div>
        <div class="">
          <label for="name" class="block mb-1">Full name</label>
          <input
            type="text"
            value="Umar Muqthar"
            required
            id="name"
            name="name"
            class="bg-white border block w-full p-1 px-3 focus:outline-none"
          />
        </div>
        <div class="mt-4">
          <label for="email" class="block mb-1">Email address</label>
          <input
            type="email"
            value="umar@gmail.com"
            required
            id="email"
            name="email"
            class="bg-white border block w-full p-1 px-3 focus:outline-none"
          />
        </div>
        <div class="mt-4">
          <label for="phone" class="block mb-1">Phone number</label>
          <input
            type="tel"
            value="9747816722"
            required
            id="phone"
            name="phone"
            readonly
            class="bg-white border block w-full p-1 px-3 focus:outline-none"
          />
        </div>
        <button
          type="submit"
          class="bg-turquoise mt-5 px-7 py-2 font-semibold uppercase hover:bg-teal-300 transition-all"
        >
          save changes
        </button>
      </div>
    </div>
  </form>

  <h1 class="my-16 font-semibold text-lg lg:mt-20 lg:mb-10">Change password</h1>
  <!-- password  -->
  <form action="/login" method="post" class="">
    <div class="lg:flex gap-20">
      <div class="hidden lg:block w-20 h-20 mx-auto"></div>
      <div>
        <div class="">
          <label for="currentPassword" class="block mb-1"
            >Current password</label
          >
          <input
            type="password"
            required
            id="currentPassword"
            name="currentPassword"
            class="bg-white border block w-full p-1 px-3 focus:outline-none"
          />
        </div>
        <div class="mt-4">
          <label for="newPassword" class="block mb-1">New Password</label>
          <input
            type="password"
            required
            id="newPassword"
            name="newPassword"
            class="bg-white border block w-full p-1 px-3 focus:outline-none"
          />
        </div>
        <div class="mt-4">
          <label for="confirmNewPassword" class="block mb-1"
            >Confirm new password</label
          >
          <input
            type="password"
            required
            id="confirmNewPassword"
            name="confirmNewPassword"
            class="bg-white border block w-full p-1 px-3 focus:outline-none"
          />
        </div>
        <button
          type="submit"
          class="bg-turquoise mt-5 px-7 py-2 font-semibold uppercase hover:bg-teal-300 transition-all"
        >
          Change password
        </button>
      </div>
    </div>
  </form>
</div>
