<div class="mt-10 lg:mt-0 lg:w-2/5">
  <div class="border p-5 mb-8">
    <div class="flex justify-between gap-10">
      <h1 class="font-semibold">Address-01</h1>
      <form action="/delete-address" method="post">
        <button type="submit">
          <i class="bi bi-trash text-darkRed"></i>
        </button>
      </form>
    </div>
    <div class="mt-5 ml-5 lg:ml-14 max-w-sm text-sm text-darkGray">
      Umar Muqthar, TC 35/900, Muqthar Manzil Vallakkadavu.P.O,
      Thiruvananthapuram, <br />
      Kerala, 695008
    </div>
    <div class="mt-5 flex items-center justify-between">
      <a
        href="/edit-address"
        class="bg-turquoise hover:bg-teal-300 uppercase text-sm font-semibold py-2 px-10"
        >Edit address</a
      >
      <a href="" class="text-sm text-turquoise">Default</a>
    </div>
  </div>

  <div class="border p-5 mb-8">
    <div class="flex justify-between gap-10">
      <h1 class="font-semibold">Address-01</h1>
      <form action="/delete-address" method="post">
        <button type="submit">
          <i class="bi bi-trash text-darkRed"></i>
        </button>
      </form>
    </div>
    <div class="mt-5 ml-5 lg:ml-14 max-w-sm text-sm text-darkGray">
      Umar Muqthar, TC 35/900, Muqthar Manzil Vallakkadavu.P.O,
      Thiruvananthapuram, <br />
      Kerala, 695008
    </div>
    <div class="mt-5 flex items-center justify-between">
      <a
        href="/edit-address"
        class="bg-turquoise hover:bg-teal-300 uppercase text-sm font-semibold py-2 px-10"
        >Edit address</a
      >
      <a href="" class="text-sm text-turquoise">Default</a>
    </div>
  </div>

  <!-- add adress -->
  <a href="/add-address"
    ><div
      class="h-40 border-dashed border-2 flex flex-col justify-center items-center text-veryLightGray hover:border-turquoise hover:text-turquoise transition-all"
    >
      <div class="text-9xl font-thin">+</div>
      <h1 class="mb-10">Add Address</h1>
    </div></a
  >
</div>
