<div
  id="modal"
  class="hidden w-full bg-black bg-opacity-30 absolute inset-0 justify-center items-center overflow-y-auto"
>
  <div class="bg-white p-10 h-fit rounded-lg lg:w-1/2 animate-slide-down">
    <h1 class="font-semibold text-2xl">Add Coupon</h1>

    <form action="/admin/add-coupon" method="post" class="w-full mt-5 form">
      <!-- coupon code -->
      <div class="mt-4">
        <label for="couponCode" class="block mb-1">Coupon Code</label>
        <input
          type="text"
          required
          id="couponCode"
          name="couponCode"
          placeholder="WELCOME60"
          class="bg-white text-darkGray border rounded-lg block w-full p-2.5"
        />
      </div>
      <!-- Amount -->
      <div class="mt-4">
        <label for="amount" class="block mb-1">Amount</label>
        <input
          type="number"
          id="amount"
          required
          name="amount"
          placeholder="Amount"
          class="bg-white text-darkGray border rounded-lg block w-full p-2.5"
        />
      </div>
      <!-- Minimum purchase -->
      <div class="mt-4">
        <label for="minPurchase" class="block mb-1">Minimum Purchase</label>
        <input
          type="number"
          required
          id="minPurchase"
          name="minPurchase"
          placeholder="Minimum purchase"
          class="bg-white text-darkGray border rounded-lg block w-full p-2.5"
        />
      </div>
      <!-- Minimum purchase -->
      <div class="mt-4">
        <label for="expiresOn" class="block mb-1">Expiry Date</label>
        <input
          type="date"
          min=""
          required
          id="expiresOn"
          name="expiresOn"
          class="bg-white text-darkGray border rounded-lg block w-full p-2.5"
        />
      </div>
      <!-- BUTTONS -->
      <div class="mt-5 flex justify-end gap-3">
        <button
          type="submit"
          class="bg-turquoise px-5 py-2 font-semibold uppercase rounded-lg hover:bg-black hover:text-turquoise"
        >
          ADD COUPON
        </button>
        <button
          id="cancelModalBtn"
          type="reset"
          class="text-darkGray px-5 py-2 font-semibold uppercase rounded-lg hover:underline"
        >
          CANCEL
        </button>
      </div>
    </form>
  </div>
</div>
