<!-- description -->
<section class="mt-20 lg:mx-10 mx-5 border-t border-lightGray">
  <h1 class="mt-10 mb-5 uppercase text-xl font-semibold">DESCRIPTION</h1>
  <ul class="list-disc ml-8">
    <li class="my-1">Material: Vinyl stickers.</li>
    <li class="my-1">
      Finish: All our stickers have a premium matte lamination layer on top to
      ensure long-lasting print quality.
    </li>
    <li class="my-1">Ant-Scratch Technology.</li>
    <li class="my-1">Special Reusable Material.</li>
    <li class="my-1">All our stickers are waterproof.</li>
    <li class="my-1">They do not leave any residue or strain on removal.</li>
  </ul>
</section>
<!-- delivery details -->
<section class="mt-10 lg:mx-10 mx-5 border-t border-lightGray">
  <h1 class="mt-10 mb-5 uppercase text-xl font-semibold">DELIVERY DETAILS</h1>
  <ul class="list-disc ml-8">
    <li class="my-1">All orders are processed in 24 hours.</li>
    <li class="my-1">
      Delivery may take 2-8 days once your order has been shipped.
    </li>
    <li class="my-1">We use express shipping methods for faster delivery.</li>
    <li class="my-1">Feel free to contact us if you got any query.</li>
  </ul>
</section>
<!-- notice -->
<section class="bg-powderBlue py-6 text-center mt-10">
  <h1 class="uppercase text-2xl font-bold">PLEASE NOTE!</h1>
  <p class="mt-3 px-5">
    Colours may slighlty vary depending on your screen brightness.
  </p>
</section>
<!-- demo -->
<section class="py-10 mt-10 g:mx-10 mx-5 border-b border-lightGray">
  <div
    class="flex flex-col lg:flex-row justify-center items-center lg:items-start gap-10 lg:gap-28"
  >
    <img class="h-80" src="/images/demo/001.jpg" alt="" />
    <div>
      <h1 class="capitalize text-2xl">Premium Matte Finish Vinyl Material</h1>
      <div class="max-w-lg mt-5 lg:mt-10">
        Stick It Up Stickers are made of Premium Vinyl Material With Finest
        Quality Matte Finish Lamination to ensure Lifetime Print and which also
        make our Stickers Scratch Proof.
      </div>
    </div>
  </div>

  <div
    class="mt-10 lg:mt-20 flex flex-col lg:flex-row-reverse justify-center items-center lg:items-start gap-10 lg:gap-28"
  >
    <img class="h-80" src="/images/demo/002.jpg" alt="" />
    <div>
      <h1 class="capitalize text-2xl">Exclusive Features</h1>
      <div class="max-w-lg mt-5 lg:mt-10">
        <span class="font-semibold">Yes You Heard It Right!!</span><br />
        These Are Not Some Ordinary Stickers Stickitup Stickers are waterproof
        and sunproof. They leave no residue or stain on removal, can be reused
        many many many times.
      </div>
    </div>
  </div>

  <div
    class="mt-10 lg:mt-20 flex flex-col lg:flex-row justify-center items-center lg:items-start gap-10 lg:gap-28"
  >
    <img class="h-80" src="/images/demo/003.jpg" alt="" />
    <div>
      <h1 class="capitalize text-2xl">Usage</h1>
      <div class="max-w-lg mt-5 lg:mt-10">
        Stickit Stickers are ideal to use on laptops, mobile cases, motorcycles,
        helmets, cars, bottles, scratchpads, mouse pads, personal computers,
        laptops, automobiles, wall surfaces, and probably any smooth surface you
        can think of.
      </div>
    </div>
  </div>
</section>
