<section
  class="py-5 lg:pt-10 lg:pb-4 lg:mx-10 mx-5 border-b border-lightGray uppercase text-xl flex flex-col items-center justify-center"
>
  <h1 class="uppercase font-semibold mb-3 text-xl lg:text-2xl">
    SEARCH RESULTS
  </h1>
  <div class="w-full">
    <form action="/search" method="get">
      <input
        type="search"
        name="search"
        autofocus
        required
        value="<%= query %>"
        class="px-3 py-2 border bg-white focus:outline-none block mx-auto w-full md:w-1/2"
      />
    </form>
  </div>
  <p class="text-sm mt-3 font-semibold">
    <%= products.length %> results found for
    <span class="uppercase">"<%= query %>"</span>.
  </p>
</section>
