<section
  class="mt-10 lg:mx-10 mx-5 flex flex-col lg:flex-row justify-around gap-10"
>
  <div class="w-full">
    <!-- heading -->

    <h1 class="uppercase font-bold text-xl lg:text-3xl">YOUR WISHLIST</h1>

    <!-- cart items -->
    <div class="mt-10">
      <!-- item -->
      <div
        class="mt-5 lg:ml-12 flex flex-col lg:flex-row justify-between lg:justify-around items-center border-b pb-4 border-lightGray"
      >
        <!-- cart item section-1 -->
        <div class="flex items-center justify-start w-full lg:w-1/2 gap-5">
          <img
            class="w-20 lg:w-28 border rounded-lg"
            src="https://res.cloudinary.com/dyc3koszi/image/upload/v1670492181/product_images/ohrvvfg3riqxajvzsq3o.webp"
            alt=""
          />
          <div
            class="flex flex-col lg:flex-row justify-between w-full lg:items-center gap-3 lg:gap-10"
          >
            <div class="text-sm text-darkGray max-w-xs">
              Stay Focussed Stay Focussed Stay Focussed Stay Focussed Sticker
            </div>
            <div class="text-xs text-turquoise">IN STOCK</div>
          </div>
        </div>
        <!-- cart item section2 -->
        <div
          class="mt-5 lg:mt-0 flex items-center justify-between lg:justify-around w-full lg:w-1/2"
        >
          <div class="text-lg lg:text-xl font-semibold">&#8377;29.00</div>
          <!-- add to cart -->
          <button
            class="bg-turquoise hover:bg-teal-300 uppercase font-semibold px-3 py-2"
          >
            add to cart
          </button>
          <!-- delete -->
          <form action="/remove-from-cart" method="post">
            <button type="submit">
              <i class="bi bi-trash text-lg text-darkRed"></i>
            </button>
          </form>
        </div>
      </div>
      <!-- item -->
      <div
        class="mt-5 lg:ml-12 flex flex-col lg:flex-row justify-between lg:justify-around items-center border-b pb-4 border-lightGray"
      >
        <!-- cart item section-1 -->
        <div class="flex items-center justify-start w-full lg:w-1/2 gap-5">
          <img
            class="w-20 lg:w-28 border rounded-lg"
            src="https://res.cloudinary.com/dyc3koszi/image/upload/v1670492181/product_images/ohrvvfg3riqxajvzsq3o.webp"
            alt=""
          />
          <div
            class="flex flex-col lg:flex-row justify-between w-full lg:items-center gap-3 lg:gap-10"
          >
            <div class="text-sm text-darkGray max-w-xs">
              Stay Focussed Sticker
            </div>
            <div class="text-xs text-turquoise">IN STOCK</div>
          </div>
        </div>
        <!-- cart item section2 -->
        <div
          class="mt-5 lg:mt-0 flex items-center justify-between lg:justify-around w-full lg:w-1/2"
        >
          <div class="text-lg lg:text-xl font-semibold">&#8377;29.00</div>
          <!-- add to cart -->
          <button
            class="bg-turquoise hover:bg-teal-300 uppercase font-semibold px-3 py-2"
          >
            add to cart
          </button>
          <!-- delete -->
          <form action="/remove-from-cart" method="post">
            <button type="submit">
              <i class="bi bi-trash text-lg text-darkRed"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center my-20">
  <a class="text-darkGray hover:text-turquoise hover:underline" href="/"
    ><i class="bi bi-chevron-double-left"></i> Continue shopping</a
  >
</section>
