<div class="flex flex-col bg-white rounded-lg justify-between border mt-5">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-x-auto">
        <table class="min-w-full">
          <thead class="bg-lightGray border-b">
            <tr>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-left"
              >
                #
              </th>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-center"
              >
                BANNER IMAGE
              </th>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-left"
              >
                IMAGE TITLE
              </th>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-center"
              >
                ACTIVE
              </th>
              <th
                scope="col"
                class="text-xs font-semibold text-darkGray px-6 py-2 text-center"
              >
                ACTIONS
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b">
              <td class="text-sm text-darkGray px-6 py-4 whitespace-nowrap">
                1
              </td>
              <td class="text-sm text-darkGray px-6 py-4 whitespace-nowrap">
                <img
                  src="/images/banners/c-001.jpg"
                  alt=""
                  class="h-12 mx-auto"
                />
              </td>
              <td class="text-sm text-darkGray px-6 py-4">
                The most beautiful banner on the internet.
              </td>
              <td
                class="text-sm text-darkGray px-6 py-4 whitespace-nowrap text-center"
              >
                <%- include("../check") %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-xl text-center">
                <a href=""
                  ><i class="bi bi-pencil-square text-darkGreen"></i
                ></a>
                <a href="">
                  <i class="bi bi-trash text-darkRed ml-3"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <%- include("../pagination") %>
      </div>
    </div>
  </div>
</div>
