<div
  class="bg-white rounded-lg flex items-center justify-between border py-5 mt-5 px-10"
>
  <form action="" method="get">
    <input
      type="text"
      name="search"
      placeholder="Search by name/email/phone"
      class="border rounded-lg p-2 w-96"
    />
    <button
      class="bg-black text-white px-5 py-2 font-semibold uppercase rounded-lg hover:text-turquoise"
      type="submit"
    >
      SEARCH
    </button>
  </form>
  <form action="">
    <select
      id="countries"
      class="bg-white border text-gray-900 text-sm rounded-lg p-2.5"
    >
      <option selected hidden>Category</option>
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    </select>
  </form>
</div>
