<div class="flex justify-between items-center mt-5">
  <div class="text-center py-6 px-28 rounded-lg bg-babyBlue">
    <i class="bi bi-layers text-3xl"></i>
    <div class="text-sm my-1">Today Order</div>
    <div class="font-semibold text-xl">&#8377;29.00</div>
  </div>
  <div class="text-center py-6 px-28 rounded-lg bg-mauvePurple">
    <i class="bi bi-cart2 text-3xl"></i>
    <div class="text-sm my-1">This Month</div>
    <div class="font-semibold text-xl">&#8377;4197.60</div>
  </div>
  <div class="text-center py-6 px-28 rounded-lg bg-minionYellow">
    <i class="bi bi-credit-card text-3xl"></i>
    <div class="text-sm my-1">Total Order</div>
    <div class="font-semibold text-xl">&#8377;16837.15</div>
  </div>
</div>

<!-- second part -->
<div class="flex justify-between items-center mt-5">
  <div
    class="flex justify-start items-center py-4 gap-5 w-60 bg-white border rounded-lg"
  >
    <div
      class="flex justify-center items-center ml-3 w-12 h-12 text-darkRed bg-lightRed rounded-full"
    >
      <i class="bi bi-cart2 text-xl"></i>
    </div>
    <div>
      <div class="text-sm text-darkGray">Total Order</div>
      <div class="font-semibold text-2xl text-darkGray">128</div>
    </div>
  </div>
  <!--2  -->
  <div
    class="flex justify-start items-center py-4 gap-5 w-60 bg-white border rounded-lg"
  >
    <div
      class="flex justify-center items-center ml-3 w-12 h-12 text-darkYellow bg-lightYellow rounded-full"
    >
      <i class="bi bi-arrow-repeat text-xl"></i>
    </div>
    <div>
      <div class="text-sm text-darkGray">Order Pending</div>
      <div class="font-semibold text-2xl text-darkGray">128</div>
    </div>
  </div>
  <!--2  -->
  <div
    class="flex justify-start items-center py-4 gap-5 w-60 bg-white border rounded-lg"
  >
    <div
      class="flex justify-center items-center ml-3 w-12 h-12 text-darkBlue bg-lightBlue rounded-full"
    >
      <i class="bi bi-truck text-xl"></i>
    </div>
    <div>
      <div class="text-sm text-darkGray">Order Processing</div>
      <div class="font-semibold text-2xl text-darkGray">128</div>
    </div>
  </div>
  <!--2  -->
  <div
    class="flex justify-start items-center py-4 gap-5 w-60 bg-white border rounded-lg"
  >
    <div
      class="flex justify-center items-center ml-3 w-12 h-12 text-darkGreen bg-lightGreen rounded-full"
    >
      <i class="bi bi-check2 text-xl"></i>
    </div>
    <div>
      <div class="text-sm text-darkGray">Order Delivered</div>
      <div class="font-semibold text-2xl text-darkGray">128</div>
    </div>
  </div>
</div>
