<section class="mx-10 lg:mx-20 py-10">
  <div
    class="flex gap-10 flex-col md:flex-row items-center justify-center md:justify-between"
  >
    <div class="text-center font-semibold">
      <i class="bi bi-shield-check text-veryDarkGray text-4xl lg:text-5xl"></i>
      <h3 class="mt-3">FAST & SECURE DELIVERY</h3>
    </div>
    <div class="text-center font-semibold">
      <i class="bi bi-truck text-veryDarkGray text-4xl lg:text-5xl"></i>
      <h3 class="mt-3">FREE SHIPPING</h3>
    </div>
    <div class="text-center font-semibold">
      <i class="bi bi-globe text-veryDarkGray text-4xl lg:text-5xl"></i>
      <h3 class="mt-3">DELIVERY ALL OVER INDIA</h3>
    </div>
    <div class="text-center font-semibold">
      <i class="bi bi-headset text-veryDarkGray text-4xl lg:text-5xl"></i>
      <h3 class="mt-3">24/7 SUPPORT</h3>
    </div>
  </div>
</section>
