<div class="flex justify-between items-center mr-4">
  <div class="text-darkGray text-xs ml-5">SHOWING 01-20 OF 228</div>
  <nav aria-label="Page navigation example">
    <ul class="flex list-style-none">
      <li class="page-item">
        <a
          class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-darkGray hover:text-black focus:shadow-none"
          href="#"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a
          class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-darkGray hover:text-black hover:bg-lightGray focus:shadow-none"
          href="#"
          >1</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-darkGray hover:text-black hover:bg-lightGray focus:shadow-none"
          href="#"
          >2</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-darkGray hover:text-black hover:bg-lightGray focus:shadow-none"
          href="#"
          >3</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-darkGray hover:text-black hover:bg-lightGray focus:shadow-none"
          href="#"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
